
$paleta_colores_main:(
    index_base:$colorbase,
    index_gradiente1: $colorgenerico,
    index_gradiente2: $colorprincipal,
);

$paleta_colores_txt:(
    principal_h1: $principal_h1,
    principal_h2: $principal_h2,
    main_p: $main_p,
    logo_txt: $logo_txt,
);