$colorbase:rgb(124, 127, 218);
$colorgenerico:rgb(92, 97, 229);
$colorprincipal:rgb(197, 24, 216);


$principal_h1:rgb(17, 15, 15);
$principal_h2:rgb(43, 43, 45);
$main_p:rgb(8, 118, 236);
$logo_txt:rgb(8, 118, 236);

$icons_color:rgb(242, 219, 246);
$icons_color_footer:blue;
$icons_color_footer_t:rgb(106, 7, 109);


$logo_font: oblique smaller bold Georgia, 'Times New Roman', Times, serif;
$nav_font: oblique 1rem  Verdana, Geneva, Tahoma, sans-serif;
$principal_font: normal 2.4rem bolder 'Roboto', 'Sans Serif';
$logo_font: normal 2.4rem bolder 'Roboto', 'Sans Serif';
$pie_de_pagina_font: normal 0.8rem Verdana, Geneva, Tahoma, sans-serif;

$principal_h_margin: 30px 40px 40px 40px;
$principal_img_padding: 20px 60px 10px 0px;  

$logo_size_w:110px;
$logo_size_h:90px;

$principal_img_size_w:250px;
$principal_img_size_h:385px;

$fiscal_img_size_w:$logo_size_w*0.7;
$fiscal_img_size_h:$logo_size_h;